In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../scraping/cleansed_data/players_20230425190937.csv', sep=';')

# Erstelle eine Kopie des Dataframes
df_copy = df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18335 entries, 0 to 18334
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             18335 non-null  object
 1   League                    18238 non-null  object
 2   NationalLeagueLevel       18335 non-null  int64
 3   Club                      18331 non-null  object
 4   No                        17905 non-null  float64
 5   Name                      18331 non-null  object
 6   Value                     17899 non-null  float64
 7   ValueLastUpdate           17899 non-null  object
 8   HighestValue              18004 non-null  float64
 9   HighestValueDate          18004 non-null  object
 10  ValueCurrency             17899 non-null  object
 11  Age                       18328 non-null  float64
 12  Height                    17052 non-null  float64
 13  Nationality               18331 non-null  object
 14  Foot                      16435 non-null  object
 15  Position                  18331 non-null  object
 16  Consultancy               14780 non-null  object
 17  Supplier                  2775 non-null   object
 18  ClubSince                 18257 non-null  object
 19  ContractUntil             17149 non-null  object
 20  Injury                    18335 non-null  int64
 21  InternationalTeam         12207 non-null  object
 22  ActiveInternational       18335 non-null  int64
 23  FormerInternational       18335 non-null  int64
 24  InternationalGames        12207 non-null  float64
 25  InternationalGoals        12207 non-null  float64
 26  StartingElevenQuote       16094 non-null  float64
 27  MinutesQuote              16094 non-null  float64
 28  TwPenaltySavesQuote       1783 non-null   float64
 29  FsGoalParticipationQuote  14311 non-null  float64
 30  Games                     13346 non-null  float64
 31  PointsPerGame             12577 non-null  float64
 32  Goals                     13346 non-null  float64
 33  OwnGoals                  13346 non-null  float64
 34  Ins                       13346 non-null  float64
 35  Outs                      13346 non-null  float64
 36  YellowCards               13346 non-null  float64
 37  YellowRedCards            13346 non-null  float64
 38  RedCards                  13346 non-null  float64
 39  Minutes                   12528 non-null  float64
 40  TwGoalsConceded           1478 non-null   float64
 41  TwCleanSheets             1478 non-null   float64
 42  FsAssists                 11868 non-null  float64
 43  FsPenaltyGoals            11868 non-null  float64
 44  FsMinutesPerGoal          6147 non-null   float64
 45  Instagram                 7148 non-null   object
 46  Source                    18335 non-null  object
 47  ScrapingTime              18335 non-null  int64
dtypes: float64(26), int64(5), object(17)
memory usage: 6.7+ MB

## Entfernen von Spalten und Zeilen

In [3]:
# Entferne Source und ScrapingTime
df = df.drop(['Source', 'ScrapingTime'], axis=1)

In [4]:
# Entferne ValueCurrency da immer Euro
df = df.drop(['ValueCurrency'], axis=1)

In [5]:
# Lösche alle Spieler ohne Value
df = df[df['Value'].notnull()]

## Datentypen anpassen

In [6]:
# 'ClubSince' und 'ContractUntil' als Datumsangaben einlesen
df['ClubSince'] = pd.to_datetime(df['ClubSince'])
df['ContractUntil'] = pd.to_datetime(df['ContractUntil'])

In [7]:
# 'ClubSince' und 'ContractUntil' als float Werte umwandeln (Differenz in Tagen ab Scrapingtag 11.04.2023, da dann auch die Values ermittelt wurden)
df['ClubSince'] = ((pd.to_datetime('2023-04-11') - df['ClubSince']) / np.timedelta64(1, 'D')).astype(float)
df['ContractUntil'] = ((df['ContractUntil'] - pd.to_datetime('2023-04-11')) / np.timedelta64(1, 'D')).astype(float)

## Entferne Dublikate

In [8]:
# Doppelte Spieler aus dem Dataframe entfernen
df = df.drop_duplicates(subset=['Name', 'Age', 'Nationality', 'Club'], keep='first')

## Fehlende Werte ersetzen (Objekte und logische Werte)

In [ ]:
# Ersetze NaN-Werte mit 'Unbekannt'
df['Nationality'].fillna('unbekannt', inplace=True)
df['Foot'].fillna('unbekannt', inplace=True)
df['Position'].fillna('unbekannt', inplace=True)
df['Supplier'].fillna('unbekannt', inplace=True)
df['Consultancy'].fillna('unbekannt', inplace=True)

In [ ]:
# Erstelle ein Dictionary mit den Positionen und ihren entsprechenden Kategorien
pos_dict = {'Torwart': 'Torwart',
            'Innenverteidiger': 'Abwehr',
            'Linker Verteidiger': 'Abwehr',
            'Rechter Verteidiger': 'Abwehr',
            'Defensives Mittelfeld': 'Mittelfeld',
            'Zentrales Mittelfeld': 'Mittelfeld',
            'Linkes Mittelfeld': 'Mittelfeld',
            'Offensives Mittelfeld': 'Mittelfeld',
            'Linksaußen': 'Sturm',
            'Rechtsaußen': 'Sturm',
            'Mittelstürmer': 'Sturm',
            'Rechtes Mittelfeld': 'Mittelfeld',
            'Hängende Spitze': 'Mittelfeld',
            'Mittelfeld': 'Mittelfeld',
            'Abwehr': 'Abwehr',
            'Sturm': 'Sturm'}

# Erstelle eine neue Spalte mit der Positionskategorie
df['PositionCategory'] = df['Position'].map(pos_dict)

In [ ]:
df['InternationalTeam'].fillna('kein_internationales_Team', inplace=True)

In [ ]:
condition = df['InternationalTeam'] == 'kein_internationales_Team'

df['InternationalGames'] = df['InternationalGames'].mask(condition & df['InternationalGames'].isna(), 0)
df['InternationalGoals'] = df['InternationalGoals'].mask(condition & df['InternationalGoals'].isna(), 0)

In [ ]:
df['Instagram'].fillna('kein_instagram', inplace=True)

In [ ]:
# Setze die Torwart-spezifischen Werte auf 0, wenn die Position des Spielers keine Torwart-Position ist und der jeweilige Wert NaN ist
df.loc[(df['Position'] != 'Torwart') & (df['TwPenaltySavesQuote'].isna()), 'TwPenaltySavesQuote'] = 0
df.loc[(df['Position'] != 'Torwart') & (df['TwGoalsConceded'].isna()), 'TwGoalsConceded'] = 0
df.loc[(df['Position'] != 'Torwart') & (df['TwCleanSheets'].isna()), 'TwCleanSheets'] = 0

In [ ]:
# Ein Wörterbuch erstellen, um den Verein und die entsprechende Liga zu speichern
club_league_dict = df[df['League'].notnull()][['Club', 'League']].set_index('Club').to_dict()['League']

# Eine Funktion definieren, um fehlende Ligawerte anhand des Vereinsnamens zu ersetzen
def impute_league(row):
    if pd.isnull(row['League']) and row['Club'] in club_league_dict:
        return club_league_dict[row['Club']]
    else:
        return row['League']

# Die Funktion anwenden, um fehlende Werte zu ersetzen
df['League'] = df.apply(impute_league, axis=1)

In [ ]:
# Gruppieren Sie das DataFrame nach Position und berechnen Sie den Modus der Spieler-Nummern für jede Position
mode_no_by_position = df.groupby('Position')['No'].agg(lambda x: x.mode()[0])

# Funktion zum Imputieren von fehlenden Spieler-Nummern (No) basierend auf der Position
def impute_no_by_position(row):
    if pd.isnull(row['No']):
        return mode_no_by_position[row['Position']]
    else:
        return row['No']

# Anwenden der Funktion auf das gesamte DataFrame, um fehlende Spieler-Nummern zu imputieren
df['No'] = df.apply(impute_no_by_position, axis=1)

In [18]:
# Setze NaN-Werte in Karten-Werten auf 0
df['YellowCards'].fillna(0, inplace=True)
df['YellowRedCards'].fillna(0, inplace=True)
df['RedCards'].fillna(0, inplace=True)

In [19]:
# Objekte haben keine fehlenden Werte mehr
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17803 entries, 0 to 18334
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  int64
 3   Club                      17803 non-null  object
 4   No                        17803 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   ValueLastUpdate           17803 non-null  object
 8   HighestValue              17803 non-null  float64
 9   HighestValueDate          17803 non-null  object
 10  Age                       17800 non-null  float64
 11  Height                    16713 non-null  float64
 12  Nationality               17803 non-null  object
 13  Foot                      17803 non-null  object
 14  Position                  17803 non-null  object
 15  Consultancy               17803 non-null  object
 16  Supplier                  17803 non-null  object
 17  ClubSince                 17768 non-null  float64
 18  ContractUntil             16730 non-null  float64
 19  Injury                    17803 non-null  int64
 20  InternationalTeam         17803 non-null  object
 21  ActiveInternational       17803 non-null  int64
 22  FormerInternational       17803 non-null  int64
 23  InternationalGames        17803 non-null  float64
 24  InternationalGoals        17803 non-null  float64
 25  StartingElevenQuote       15773 non-null  float64
 26  MinutesQuote              15773 non-null  float64
 27  TwPenaltySavesQuote       17513 non-null  float64
 28  FsGoalParticipationQuote  17271 non-null  float64
 29  Games                     13227 non-null  float64
 30  PointsPerGame             12484 non-null  float64
 31  Goals                     13227 non-null  float64
 32  OwnGoals                  13227 non-null  float64
 33  Ins                       13227 non-null  float64
 34  Outs                      13227 non-null  float64
 35  YellowCards               17803 non-null  float64
 36  YellowRedCards            17803 non-null  float64
 37  RedCards                  17803 non-null  float64
 38  Minutes                   12437 non-null  float64
 39  TwGoalsConceded           17235 non-null  float64
 40  TwCleanSheets             17235 non-null  float64
 41  FsAssists                 16646 non-null  float64
 42  FsPenaltyGoals            16646 non-null  float64
 43  FsMinutesPerGoal          15713 non-null  float64
 44  Instagram                 17803 non-null  object
 45  PositionCategory          17803 non-null  object
dtypes: float64(28), int64(4), object(14)
memory usage: 6.4+ MB

In [20]:
# Fehlende Werte in Prozent pro Variable
print(df.isnull().sum() / len(df) * 100)

LeagueCountry                0.000000
League                       0.000000
NationalLeagueLevel          0.000000
Club                         0.000000
No                           0.000000
Name                         0.000000
Value                        0.000000
ValueLastUpdate              0.000000
HighestValue                 0.000000
HighestValueDate             0.000000
Age                          0.016851
Height                       6.122564
Nationality                  0.000000
Foot                         0.000000
Position                     0.000000
Consultancy                  0.000000
Supplier                     0.000000
ClubSince                    0.196596
ContractUntil                6.027074
Injury                       0.000000
InternationalTeam            0.000000
ActiveInternational          0.000000
FormerInternational          0.000000
InternationalGames           0.000000
InternationalGoals           0.000000
StartingElevenQuote         11.402573
MinutesQuote                11.402573
TwPenaltySavesQuote          1.628939
FsGoalParticipationQuote     2.988260
Games                       25.703533
PointsPerGame               29.876987
Goals                       25.703533
OwnGoals                    25.703533
Ins                         25.703533
Outs                        25.703533
YellowCards                  0.000000
YellowRedCards               0.000000
RedCards                     0.000000
Minutes                     30.140987
TwGoalsConceded              3.190474
TwCleanSheets                3.190474
FsAssists                    6.498905
FsPenaltyGoals               6.498905
FsMinutesPerGoal            11.739594
Instagram                    0.000000
PositionCategory             0.000000
dtype: float64

In [21]:
df.to_csv('../data/df_clean.csv', index=False)

## Nicht verwendeter Code

In [3]:
null_values = df['Minutes'].isnull().groupby([df['LeagueCountry'], df['League']]).sum().to_frame()
size_values = df.groupby(['LeagueCountry', 'League']).size()

null_values['Players'] = size_values
null_values = null_values.rename(columns={'Minutes': 'NullValues'})
null_values['NullValuesRelative'] = null_values['NullValues'] / null_values['Players'] * 100

null_values = null_values[null_values['Players'] > 20]  # exclude minor leagues
null_values = null_values.sort_values('NullValuesRelative', ascending=False)

print(null_values)

                                     NullValues  Players  NullValuesRelative
LeagueCountry League
Türkei        Süper Lig                     520      520          100.000000
Niederlande   Eredivisie                    483      483          100.000000
Serbien       Omladinska liga                23       26           88.461538
Griechenland  Super League 2                616      828           74.396135
Norwegen      Eliteserien                   279      414           67.391304
Schottland    Championship                  155      239           64.853556
Schweiz       Promotion League              269      419           64.200477
Schweden      Allsvenskan                   266      438           60.730594
Spanien       LaLiga2                       300      531           56.497175
England       League One                    333      624           53.365385
Tschechien    Fortuna Liga                  162      407           39.803440
Dänemark      Superligaen                   114      295           38.644068
Portugal      Liga Sabseg                   180      482           37.344398
Griechenland  Super League 1                157      429           36.596737
Kroatien      SuperSport HNL                 71      283           25.088339
Serbien       Super liga Srbije             103      418           24.641148
Rumänien      SuperLiga                     111      470           23.617021
Polen         Ekstraklasa                   127      543           23.388582
Österreich    2. Liga                        90      416           21.634615
Schweiz       Challenge League               58      271           21.402214
Belgien       Challenger Pro League          64      314           20.382166
Österreich    Bundesliga                     69      368           18.750000
Schweiz       Super League                   54      296           18.243243
Türkei        1.Lig                          99      543           18.232044
Portugal      Liga Portugal                  87      490           17.755102
Frankreich    Ligue 2                        76      516           14.728682
England       Championship                   91      628           14.490446
Deutschland   Bundesliga                     72      509           14.145383
Schottland    Premiership                    43      309           13.915858
Deutschland   2. Bundesliga                  68      516           13.178295
Belgien       Jupiler Pro League             59      494           11.943320
Italien       Serie B                        65      577           11.265165
Frankreich    Ligue 1                        57      518           11.003861
Italien       Serie A                        57      559           10.196780
Ukraine       Premier Liga                   42      423            9.929078
England       Premier League                 53      534            9.925094
Deutschland   3. Liga                        44      548            8.029197
Russland      1.Division                     31      477            6.498952
              Premier Liga                   26      401            6.483791
Spanien       LaLiga                         23      485            4.742268