In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('../scraping/cleansed_data/players_20230425190937.csv', sep=';')

# Erstelle eine Kopie des Dataframes
df_copy = df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18335 entries, 0 to 18334
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             18335 non-null  object
 1   League                    18238 non-null  object
 2   NationalLeagueLevel       18234 non-null  object
 3   Club                      18331 non-null  object
 4   No                        17905 non-null  float64
 5   Name                      18331 non-null  object
 6   Value                     17899 non-null  float64
 7   ValueLastUpdate           17899 non-null  object
 8   HighestValue              18004 non-null  float64
 9   HighestValueDate          18004 non-null  object
 10  ValueCurrency             17899 non-null  object
 11  Age                       18328 non-null  float64
 12  Height                    17052 non-null  float64
 13  Nationality               18331 non-null  object
 14  Foot                      16435 non-null  object
 15  Position                  18331 non-null  object
 16  Consultancy               14780 non-null  object
 17  Supplier                  2775 non-null   object
 18  ClubSince                 18257 non-null  object
 19  ContractUntil             17149 non-null  object
 20  Injury                    18335 non-null  int64
 21  InternationalTeam         12207 non-null  object
 22  ActiveInternational       18335 non-null  int64
 23  FormerInternational       18335 non-null  int64
 24  InternationalGames        12207 non-null  float64
 25  InternationalGoals        12207 non-null  float64
 26  StartingElevenQuote       16094 non-null  float64
 27  MinutesQuote              16094 non-null  float64
 28  TwPenaltySavesQuote       1783 non-null   float64
 29  FsGoalParticipationQuote  14311 non-null  float64
 30  Games                     13346 non-null  float64
 31  PointsPerGame             12577 non-null  float64
 32  Goals                     13346 non-null  float64
 33  OwnGoals                  13346 non-null  float64
 34  Ins                       13346 non-null  float64
 35  Outs                      13346 non-null  float64
 36  YellowCards               13346 non-null  float64
 37  YellowRedCards            13346 non-null  float64
 38  RedCards                  13346 non-null  float64
 39  Minutes                   12528 non-null  float64
 40  TwGoalsConceded           1478 non-null   float64
 41  TwCleanSheets             1478 non-null   float64
 42  FsAssists                 11868 non-null  float64
 43  FsPenaltyGoals            11868 non-null  float64
 44  FsMinutesPerGoal          6147 non-null   float64
 45  Instagram                 7148 non-null   object
 46  Source                    18335 non-null  object
 47  ScrapingTime              18335 non-null  int64
dtypes: float64(26), int64(4), object(18)
memory usage: 6.7+ MB

## Entfernen von Spalten und Zeilen

In [25]:
# Entferne Source, ScrapingTime, Instagram, Value-Dates & -Currency
df = df.drop(['Source', 'ScrapingTime', 'Instagram', 'ValueLastUpdate', 'HighestValueDate', 'ValueCurrency'], axis=1)

In [26]:
# LÃ¶sche alle Spieler ohne Value
df = df[df['Value'].notnull()]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17899 entries, 0 to 18334
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17899 non-null  object
 1   League                    17899 non-null  object
 2   NationalLeagueLevel       17899 non-null  object
 3   Club                      17899 non-null  object
 4   No                        17590 non-null  float64
 5   Name                      17899 non-null  object
 6   Value                     17899 non-null  float64
 7   HighestValue              17899 non-null  float64
 8   Age                       17896 non-null  float64
 9   Height                    16809 non-null  float64
 10  Nationality               17899 non-null  object
 11  Foot                      16201 non-null  object
 12  Position                  17899 non-null  object
 13  Consultancy               14580 non-null  object
 14  Supplier                  2753 non-null   object
 15  ClubSince                 17864 non-null  object
 16  ContractUntil             16816 non-null  object
 17  Injury                    17899 non-null  int64
 18  InternationalTeam         12047 non-null  object
 19  ActiveInternational       17899 non-null  int64
 20  FormerInternational       17899 non-null  int64
 21  InternationalGames        12047 non-null  float64
 22  InternationalGoals        12047 non-null  float64
 23  StartingElevenQuote       15847 non-null  float64
 24  MinutesQuote              15847 non-null  float64
 25  TwPenaltySavesQuote       1749 non-null   float64
 26  FsGoalParticipationQuote  14098 non-null  float64
 27  Games                     13297 non-null  float64
 28  PointsPerGame             12538 non-null  float64
 29  Goals                     13297 non-null  float64
 30  OwnGoals                  13297 non-null  float64
 31  Ins                       13297 non-null  float64
 32  Outs                      13297 non-null  float64
 33  YellowCards               13297 non-null  float64
 34  YellowRedCards            13297 non-null  float64
 35  RedCards                  13297 non-null  float64
 36  Minutes                   12489 non-null  float64
 37  TwGoalsConceded           1470 non-null   float64
 38  TwCleanSheets             1470 non-null   float64
 39  FsAssists                 11827 non-null  float64
 40  FsPenaltyGoals            11827 non-null  float64
 41  FsMinutesPerGoal          6134 non-null   float64
dtypes: float64(26), int64(3), object(13)
memory usage: 5.9+ MB

## Datentypen anpassen

In [28]:
# 'ClubSince' und 'ContractUntil' als Datumsangaben einlesen
df['ClubSince'] = pd.to_datetime(df['ClubSince'])
df['ContractUntil'] = pd.to_datetime(df['ContractUntil'])

In [29]:
# 'ClubSince' und 'ContractUntil' als float Werte umwandeln (Differenz in Tagen ab Scrapingtag 11.04.2023, da dann auch die Values ermittelt wurden)
df['ClubSince'] = ((pd.to_datetime('2023-04-11') - df['ClubSince']) / np.timedelta64(1, 'D')).astype(float)
df['ContractUntil'] = ((df['ContractUntil'] - pd.to_datetime('2023-04-11')) / np.timedelta64(1, 'D')).astype(float)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17899 entries, 0 to 18334
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17899 non-null  object
 1   League                    17899 non-null  object
 2   NationalLeagueLevel       17899 non-null  object
 3   Club                      17899 non-null  object
 4   No                        17590 non-null  float64
 5   Name                      17899 non-null  object
 6   Value                     17899 non-null  float64
 7   HighestValue              17899 non-null  float64
 8   Age                       17896 non-null  float64
 9   Height                    16809 non-null  float64
 10  Nationality               17899 non-null  object
 11  Foot                      16201 non-null  object
 12  Position                  17899 non-null  object
 13  Consultancy               14580 non-null  object
 14  Supplier                  2753 non-null   object
 15  ClubSince                 17864 non-null  float64
 16  ContractUntil             16816 non-null  float64
 17  Injury                    17899 non-null  int64
 18  InternationalTeam         12047 non-null  object
 19  ActiveInternational       17899 non-null  int64
 20  FormerInternational       17899 non-null  int64
 21  InternationalGames        12047 non-null  float64
 22  InternationalGoals        12047 non-null  float64
 23  StartingElevenQuote       15847 non-null  float64
 24  MinutesQuote              15847 non-null  float64
 25  TwPenaltySavesQuote       1749 non-null   float64
 26  FsGoalParticipationQuote  14098 non-null  float64
 27  Games                     13297 non-null  float64
 28  PointsPerGame             12538 non-null  float64
 29  Goals                     13297 non-null  float64
 30  OwnGoals                  13297 non-null  float64
 31  Ins                       13297 non-null  float64
 32  Outs                      13297 non-null  float64
 33  YellowCards               13297 non-null  float64
 34  YellowRedCards            13297 non-null  float64
 35  RedCards                  13297 non-null  float64
 36  Minutes                   12489 non-null  float64
 37  TwGoalsConceded           1470 non-null   float64
 38  TwCleanSheets             1470 non-null   float64
 39  FsAssists                 11827 non-null  float64
 40  FsPenaltyGoals            11827 non-null  float64
 41  FsMinutesPerGoal          6134 non-null   float64
dtypes: float64(28), int64(3), object(11)
memory usage: 5.9+ MB

## Entferne Duplikate

In [31]:
# Doppelte Spieler aus dem Dataframe entfernen
df = df.drop_duplicates(subset=['Name', 'Age', 'Nationality', 'Club'], keep='first')

## Fehlende Werte ersetzen (Objekte und logische Werte)

In [32]:
# Erstelle ein Dictionary mit den Positionen und ihren entsprechenden Kategorien
pos_dict = {'Torwart': 'Torwart',
            'Innenverteidiger': 'Abwehr',
            'Linker Verteidiger': 'Abwehr',
            'Rechter Verteidiger': 'Abwehr',
            'Defensives Mittelfeld': 'Mittelfeld',
            'Zentrales Mittelfeld': 'Mittelfeld',
            'Linkes Mittelfeld': 'Mittelfeld',
            'Offensives Mittelfeld': 'Mittelfeld',
            'LinksauÃen': 'Sturm',
            'RechtsauÃen': 'Sturm',
            'MittelstÃ¼rmer': 'Sturm',
            'Rechtes Mittelfeld': 'Mittelfeld',
            'HÃ¤ngende Spitze': 'Mittelfeld',
            'Mittelfeld': 'Mittelfeld',
            'Abwehr': 'Abwehr',
            'Sturm': 'Sturm'}

# Erstelle eine neue Spalte mit der Positionskategorie
df['PositionCategory'] = df['Position'].map(pos_dict)

In [33]:
# Neue Spalte 'trending' erstellen
df['Trending'] = df.apply(lambda row: 1 if row['Value'] == row['HighestValue'] else 0, axis=1)

In [34]:
df.to_csv('../data/df_clean.csv', index=False)

## Nicht verwendeter Code

In [35]:
df['InternationalTeam'].fillna('kein_internationales_Team', inplace=True)

In [36]:
df.loc[df['InternationalTeam'] == 'kein_internationales_Team', ['InternationalGames', 'InternationalGoals']] = 0

In [37]:
# Setze die Torwart-spezifischen Werte auf 0, wenn die Position des Spielers keine Torwart-Position ist und der jeweilige Wert NaN ist
df.loc[(df['Position'] != 'Torwart') & (df['TwPenaltySavesQuote'].isna()), 'TwPenaltySavesQuote'] = 0
df.loc[(df['Position'] != 'Torwart') & (df['TwGoalsConceded'].isna()), 'TwGoalsConceded'] = 0
df.loc[(df['Position'] != 'Torwart') & (df['TwCleanSheets'].isna()), 'TwCleanSheets'] = 0

In [38]:
# Gruppieren Sie das DataFrame nach Position und berechnen Sie den Modus der Spieler-Nummern fÃ¼r jede Position
mode_no_by_position = df.groupby('Position')['No'].agg(lambda x: x.mode()[0])

# Funktion zum Imputieren von fehlenden Spieler-Nummern (No) basierend auf der Position
def impute_no_by_position(row):
    if pd.isnull(row['No']):
        return mode_no_by_position[row['Position']]
    else:
        return row['No']

# Anwenden der Funktion auf das gesamte DataFrame, um fehlende Spieler-Nummern zu imputieren
df['No'] = df.apply(impute_no_by_position, axis=1)

In [39]:
# Setze NaN-Werte in Karten-Werten auf 0
df['YellowCards'].fillna(0, inplace=True)
df['YellowRedCards'].fillna(0, inplace=True)
df['RedCards'].fillna(0, inplace=True)

In [40]:
# Objekte haben keine fehlenden Werte mehr
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17803 entries, 0 to 18334
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  object
 3   Club                      17803 non-null  object
 4   No                        17803 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   HighestValue              17803 non-null  float64
 8   Age                       17800 non-null  float64
 9   Height                    16713 non-null  float64
 10  Nationality               17803 non-null  object
 11  Foot                      16118 non-null  object
 12  Position                  17803 non-null  object
 13  Consultancy               14496 non-null  object
 14  Supplier                  2736 non-null   object
 15  ClubSince                 17768 non-null  float64
 16  ContractUntil             16730 non-null  float64
 17  Injury                    17803 non-null  int64
 18  InternationalTeam         17803 non-null  object
 19  ActiveInternational       17803 non-null  int64
 20  FormerInternational       17803 non-null  int64
 21  InternationalGames        17803 non-null  float64
 22  InternationalGoals        17803 non-null  float64
 23  StartingElevenQuote       15773 non-null  float64
 24  MinutesQuote              15773 non-null  float64
 25  TwPenaltySavesQuote       17513 non-null  float64
 26  FsGoalParticipationQuote  14036 non-null  float64
 27  Games                     13227 non-null  float64
 28  PointsPerGame             12484 non-null  float64
 29  Goals                     13227 non-null  float64
 30  OwnGoals                  13227 non-null  float64
 31  Ins                       13227 non-null  float64
 32  Outs                      13227 non-null  float64
 33  YellowCards               17803 non-null  float64
 34  YellowRedCards            17803 non-null  float64
 35  RedCards                  17803 non-null  float64
 36  Minutes                   12437 non-null  float64
 37  TwGoalsConceded           17235 non-null  float64
 38  TwCleanSheets             17235 non-null  float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          6119 non-null   float64
 42  PositionCategory          17803 non-null  object
 43  Trending                  17803 non-null  int64
dtypes: float64(28), int64(4), object(12)
memory usage: 6.1+ MB

In [41]:
# Fehlende Werte in Prozent pro Variable
print(df.isnull().sum() / len(df) * 100)

LeagueCountry                0.000000
League                       0.000000
NationalLeagueLevel          0.000000
Club                         0.000000
No                           0.000000
Name                         0.000000
Value                        0.000000
HighestValue                 0.000000
Age                          0.016851
Height                       6.122564
Nationality                  0.000000
Foot                         9.464697
Position                     0.000000
Consultancy                 18.575521
Supplier                    84.631804
ClubSince                    0.196596
ContractUntil                6.027074
Injury                       0.000000
InternationalTeam            0.000000
ActiveInternational          0.000000
FormerInternational          0.000000
InternationalGames           0.000000
InternationalGoals           0.000000
StartingElevenQuote         11.402573
MinutesQuote                11.402573
TwPenaltySavesQuote          1.628939
FsGoalParticipationQuote    21.159355
Games                       25.703533
PointsPerGame               29.876987
Goals                       25.703533
OwnGoals                    25.703533
Ins                         25.703533
Outs                        25.703533
YellowCards                  0.000000
YellowRedCards               0.000000
RedCards                     0.000000
Minutes                     30.140987
TwGoalsConceded              3.190474
TwCleanSheets                3.190474
FsAssists                   33.898781
FsPenaltyGoals              33.898781
FsMinutesPerGoal            65.629388
PositionCategory             0.000000
Trending                     0.000000
dtype: float64

In [42]:
# Manuelles Mapping erstellen
league_level_mapping = {
    "1.Liga": 1,
    "2.Liga": 2,
    "3.Liga": 3,
    "4.Liga": 4,
    "5.Liga": 5,
    "Reserveliga": 6,
    "Jugendliga": 6,
    "Playoff/Relegation": 7
}

# Ersetzen Sie die Werte in der Spalte "NationalLeagueLevel" basierend auf dem manuellen Mapping
df['NationalLeagueLevelCategory'] = df['NationalLeagueLevel'].map(league_level_mapping)

In [43]:
null_values = df['Minutes'].isnull().groupby([df['LeagueCountry'], df['League']]).sum().to_frame()
size_values = df.groupby(['LeagueCountry', 'League']).size()

null_values['Players'] = size_values
null_values = null_values.rename(columns={'Minutes': 'NullValues'})
null_values['NullValuesRelative'] = null_values['NullValues'] / null_values['Players'] * 100

null_values = null_values[null_values['Players'] > 20]  # exclude minor leagues
null_values = null_values.sort_values('NullValuesRelative', ascending=False)

print(null_values)

                                     NullValues  Players  NullValuesRelative
LeagueCountry League
TÃ¼rkei        SÃ¼per Lig                     520      520          100.000000
Niederlande   Eredivisie                    481      481          100.000000
Griechenland  Super League 2                521      725           71.862069
Norwegen      Eliteserien                   279      414           67.391304
Schottland    Championship                  153      237           64.556962
Schweiz       Promotion League              250      394           63.451777
Spanien       LaLiga2                       300      531           56.497175
Schweden      Allsvenskan                   217      389           55.784062
England       League One                    333      624           53.365385
Tschechien    Fortuna Liga                  160      405           39.506173
DÃ¤nemark      Superligaen                   108      289           37.370242
Portugal      Liga Sabseg                   170      465           36.559140
Griechenland  Super League 1                137      405           33.827160
Kroatien      SuperSport HNL                 67      276           24.275362
RumÃ¤nien      SuperLiga                     109      467           23.340471
Serbien       Super liga Srbije              89      403           22.084367
Schweiz       Challenge League               55      267           20.599251
Ãsterreich    2. Liga                        84      410           20.487805
Polen         Ekstraklasa                   102      516           19.767442
Belgien       Challenger Pro League          60      308           19.480519
TÃ¼rkei        1.Lig                          97      541           17.929760
Portugal      Liga Portugal                  85      485           17.525773
Ãsterreich    Bundesliga                     59      350           16.857143
Schweiz       Super League                   41      276           14.855072
Frankreich    Ligue 2                        76      516           14.728682
England       Championship                   90      626           14.376997
Schottland    Premiership                    43      309           13.915858
Deutschland   2. Bundesliga                  68      515           13.203883
              Bundesliga                     65      497           13.078471
Belgien       Jupiler Pro League             54      477           11.320755
Italien       Serie B                        65      576           11.284722
Frankreich    Ligue 1                        57      518           11.003861
Italien       Serie A                        55      557            9.874327
Ukraine       Premier Liga                   41      422            9.715640
England       Premier League                 50      531            9.416196
Deutschland   3. Liga                        41      542            7.564576
Russland      Premier Liga                   26      400            6.500000
              1.Division                     30      474            6.329114
Spanien       LaLiga                         23      484            4.752066

In [44]:
# Ersetze NaN-Werte mit 'Unbekannt'
df['Nationality'].fillna('unbekannt', inplace=True)
df['Foot'].fillna('unbekannt', inplace=True)
df['Position'].fillna('unbekannt', inplace=True)
df['Supplier'].fillna('unbekannt', inplace=True)
df['Consultancy'].fillna('unbekannt', inplace=True)