In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../scraping/cleansed_data/players_20230425190937.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18335 entries, 0 to 18334
Data columns (total 48 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             18335 non-null  object
 1   League                    18238 non-null  object
 2   NationalLeagueLevel       18335 non-null  int64
 3   Club                      18331 non-null  object
 4   No                        17905 non-null  float64
 5   Name                      18331 non-null  object
 6   Value                     17899 non-null  float64
 7   ValueLastUpdate           17899 non-null  object
 8   HighestValue              18004 non-null  float64
 9   HighestValueDate          18004 non-null  object
 10  ValueCurrency             17899 non-null  object
 11  Age                       18328 non-null  float64
 12  Height                    17052 non-null  float64
 13  Nationality               18331 non-null  object
 14  Foot                      16435 non-null  object
 15  Position                  18331 non-null  object
 16  Consultancy               14780 non-null  object
 17  Supplier                  2775 non-null   object
 18  ClubSince                 18257 non-null  object
 19  ContractUntil             17149 non-null  object
 20  Injury                    18335 non-null  int64
 21  InternationalTeam         12207 non-null  object
 22  ActiveInternational       18335 non-null  int64
 23  FormerInternational       18335 non-null  int64
 24  InternationalGames        12207 non-null  float64
 25  InternationalGoals        12207 non-null  float64
 26  StartingElevenQuote       16094 non-null  float64
 27  MinutesQuote              16094 non-null  float64
 28  TwPenaltySavesQuote       1783 non-null   float64
 29  FsGoalParticipationQuote  14311 non-null  float64
 30  Games                     13346 non-null  float64
 31  PointsPerGame             12577 non-null  float64
 32  Goals                     13346 non-null  float64
 33  OwnGoals                  13346 non-null  float64
 34  Ins                       13346 non-null  float64
 35  Outs                      13346 non-null  float64
 36  YellowCards               13346 non-null  float64
 37  YellowRedCards            13346 non-null  float64
 38  RedCards                  13346 non-null  float64
 39  Minutes                   12528 non-null  float64
 40  TwGoalsConceded           1478 non-null   float64
 41  TwCleanSheets             1478 non-null   float64
 42  FsAssists                 11868 non-null  float64
 43  FsPenaltyGoals            11868 non-null  float64
 44  FsMinutesPerGoal          6147 non-null   float64
 45  Instagram                 7148 non-null   object
 46  Source                    18335 non-null  object
 47  ScrapingTime              18335 non-null  int64
dtypes: float64(26), int64(5), object(17)
memory usage: 6.7+ MB

In [35]:
null_values = df['Minutes'].isnull().groupby([df['LeagueCountry'], df['League']]).sum().to_frame()
size_values = df.groupby(['LeagueCountry', 'League']).size()

null_values['Players'] = size_values
null_values = null_values.rename(columns={'Minutes': 'NullValues'})
null_values['NullValuesRelative'] = null_values['NullValues'] / null_values['Players'] * 100

null_values = null_values[null_values['Players'] > 20]  # exclude minor leagues
null_values = null_values.sort_values('NullValuesRelative', ascending=False)

print(null_values)

                                     NullValues  Players  NullValuesRelative
LeagueCountry League
Türkei        Süper Lig                     520      520          100.000000
Niederlande   Eredivisie                    483      483          100.000000
Serbien       Omladinska liga                23       26           88.461538
Griechenland  Super League 2                616      828           74.396135
Norwegen      Eliteserien                   279      414           67.391304
Schottland    Championship                  155      239           64.853556
Schweiz       Promotion League              269      419           64.200477
Schweden      Allsvenskan                   266      438           60.730594
Spanien       LaLiga2                       300      531           56.497175
England       League One                    333      624           53.365385
Tschechien    Fortuna Liga                  162      407           39.803440
Dänemark      Superligaen                   114      295           38.644068
Portugal      Liga Sabseg                   180      482           37.344398
Griechenland  Super League 1                157      429           36.596737
Kroatien      SuperSport HNL                 71      283           25.088339
Serbien       Super liga Srbije             103      418           24.641148
Rumänien      SuperLiga                     111      470           23.617021
Polen         Ekstraklasa                   127      543           23.388582
Österreich    2. Liga                        90      416           21.634615
Schweiz       Challenge League               58      271           21.402214
Belgien       Challenger Pro League          64      314           20.382166
Österreich    Bundesliga                     69      368           18.750000
Schweiz       Super League                   54      296           18.243243
Türkei        1.Lig                          99      543           18.232044
Portugal      Liga Portugal                  87      490           17.755102
Frankreich    Ligue 2                        76      516           14.728682
England       Championship                   91      628           14.490446
Deutschland   Bundesliga                     72      509           14.145383
Schottland    Premiership                    43      309           13.915858
Deutschland   2. Bundesliga                  68      516           13.178295
Belgien       Jupiler Pro League             59      494           11.943320
Italien       Serie B                        65      577           11.265165
Frankreich    Ligue 1                        57      518           11.003861
Italien       Serie A                        57      559           10.196780
Ukraine       Premier Liga                   42      423            9.929078
England       Premier League                 53      534            9.925094
Deutschland   3. Liga                        44      548            8.029197
Russland      1.Division                     31      477            6.498952
              Premier Liga                   26      401            6.483791
Spanien       LaLiga                         23      485            4.742268