In [26]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [27]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17803 entries, 0 to 18334
Data columns (total 45 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  object
 3   Club                      17803 non-null  object
 4   No                        17494 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   HighestValue              17803 non-null  float64
 8   Age                       17800 non-null  float64
 9   Height                    16713 non-null  float64
 10  Nationality               17803 non-null  object
 11  Foot                      16118 non-null  object
 12  Position                  17803 non-null  object
 13  Consultancy               14496 non-null  object
 14  Supplier                  2736 non-null   object
 15  ClubSince                 17768 non-null  float64
 16  ContractUntil             16730 non-null  float64
 17  Injury                    17803 non-null  int64
 18  InternationalTeam         11967 non-null  object
 19  ActiveInternational       17803 non-null  int64
 20  FormerInternational       17803 non-null  int64
 21  InternationalGames        11967 non-null  float64
 22  InternationalGoals        11967 non-null  float64
 23  StartingElevenQuote       15773 non-null  float64
 24  MinutesQuote              15773 non-null  float64
 25  TwPenaltySavesQuote       1737 non-null   float64
 26  FsGoalParticipationQuote  14036 non-null  float64
 27  Games                     13227 non-null  float64
 28  PointsPerGame             12484 non-null  float64
 29  Goals                     13227 non-null  float64
 30  OwnGoals                  13227 non-null  float64
 31  Ins                       13227 non-null  float64
 32  Outs                      13227 non-null  float64
 33  YellowCards               13227 non-null  float64
 34  YellowRedCards            13227 non-null  float64
 35  RedCards                  13227 non-null  float64
 36  Minutes                   12437 non-null  float64
 37  TwGoalsConceded           1459 non-null   float64
 38  TwCleanSheets             1459 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          6119 non-null   float64
 42  PositionCategory          17803 non-null  object
 43  Cards                     13227 non-null  float64
 44  Trending                  17803 non-null  int64
dtypes: float64(29), int64(4), object(12)
memory usage: 6.2+ MB

In [29]:
df = df.loc[df['Position'] == 'Torwart']

In [30]:
features = ['LeagueCountry', 'NationalLeagueLevel', 'InternationalTeam', 'League', 'Club', 'Age', 'ClubSince', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'Trending', 'Games', 'PointsPerGame', 'Cards', 'Minutes', 'TwCleanSheets', 'TwGoalsConceded', 'TwPenaltySavesQuote', 'Value']

df = df[features]

In [31]:
numeric_columns = df.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column: {col}, NaN values: {numeric_columns[col].isna().sum()}")

Column: Age, NaN values: 1
Column: ClubSince, NaN values: 10
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 725
Column: Trending, NaN values: 0
Column: Games, NaN values: 568
Column: PointsPerGame, NaN values: 1016
Column: Cards, NaN values: 568
Column: Minutes, NaN values: 1018
Column: TwCleanSheets, NaN values: 568
Column: TwGoalsConceded, NaN values: 568
Column: TwPenaltySavesQuote, NaN values: 290
Column: Value, NaN values: 0

In [32]:
df = df.dropna(subset=['Age', 'ClubSince', 'Games', 'PointsPerGame', 'Cards', 'Minutes', 'TwCleanSheets', 'TwGoalsConceded', 'TwPenaltySavesQuote'])

In [33]:
df = df.fillna({'InternationalGames': 0})

In [34]:
numeric_columns = df.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column: {col}, NaN values: {numeric_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: Trending, NaN values: 0
Column: Games, NaN values: 0
Column: PointsPerGame, NaN values: 0
Column: Cards, NaN values: 0
Column: Minutes, NaN values: 0
Column: TwCleanSheets, NaN values: 0
Column: TwGoalsConceded, NaN values: 0
Column: TwPenaltySavesQuote, NaN values: 0
Column: Value, NaN values: 0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1007 entries, 0 to 18310
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LeagueCountry        1007 non-null   object
 1   NationalLeagueLevel  1007 non-null   object
 2   InternationalTeam    742 non-null    object
 3   League               1007 non-null   object
 4   Club                 1007 non-null   object
 5   Age                  1007 non-null   float64
 6   ClubSince            1007 non-null   float64
 7   ActiveInternational  1007 non-null   int64
 8   FormerInternational  1007 non-null   int64
 9   InternationalGames   1007 non-null   float64
 10  Trending             1007 non-null   int64
 11  Games                1007 non-null   float64
 12  PointsPerGame        1007 non-null   float64
 13  Cards                1007 non-null   float64
 14  Minutes              1007 non-null   float64
 15  TwCleanSheets        1007 non-null   float64
 16  TwGoalsConceded      1007 non-null   float64
 17  TwPenaltySavesQuote  1007 non-null   float64
 18  Value                1007 non-null   float64
dtypes: float64(11), int64(3), object(5)
memory usage: 157.3+ KB

In [36]:
df = process_categorical(df, 'InternationalTeam', 5)
df = process_categorical(df, 'League')
df = process_categorical(df, 'Club')
df = process_categorical(df, 'LeagueCountry', 5)
df = process_categorical(df, 'NationalLeagueLevel', 5)

In [37]:
df.to_csv('../data/df_extensive_model_tw.csv')