In [1]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [2]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17796 entries, 0 to 18357
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17796 non-null  object
 1   League                    17796 non-null  object
 2   NationalLeagueLevel       17796 non-null  object
 3   Club                      17796 non-null  object
 4   No                        17511 non-null  float64
 5   Name                      17796 non-null  object
 6   Value                     17796 non-null  float64
 7   HighestValue              17796 non-null  float64
 8   Age                       17794 non-null  float64
 9   Height                    16717 non-null  float64
 10  Nationality               17796 non-null  object
 11  Foot                      16124 non-null  object
 12  Position                  17796 non-null  object
 13  Consultancy               14524 non-null  object
 14  Supplier                  2739 non-null   object
 15  ClubSince                 17761 non-null  float64
 16  ContractUntil             16740 non-null  float64
 17  Injury                    17796 non-null  int64
 18  InternationalTeam         9708 non-null   object
 19  ActiveInternational       17796 non-null  int64
 20  FormerInternational       17796 non-null  int64
 21  InternationalGames        10724 non-null  float64
 22  InternationalGoals        10724 non-null  float64
 23  StartingElevenQuote       15759 non-null  float64
 24  MinutesQuote              15759 non-null  float64
 25  TwPenaltySavesQuote       1742 non-null   float64
 26  FsGoalParticipationQuote  14017 non-null  float64
 27  Games                     13229 non-null  float64
 28  PointsPerGame             13229 non-null  float64
 29  Goals                     13229 non-null  float64
 30  OwnGoals                  13229 non-null  float64
 31  Ins                       13229 non-null  float64
 32  Outs                      13229 non-null  float64
 33  YellowCards               13229 non-null  float64
 34  YellowRedCards            13229 non-null  float64
 35  RedCards                  13229 non-null  float64
 36  Minutes                   13229 non-null  float64
 37  TwGoalsConceded           1461 non-null   float64
 38  TwCleanSheets             1461 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          11768 non-null  float64
 42  Image                     14885 non-null  object
 43  PositionCategory          17796 non-null  object
 44  Cards                     13229 non-null  float64
 45  Trending                  17796 non-null  int64
dtypes: float64(29), int64(4), object(13)
memory usage: 6.4+ MB

In [4]:
df = df.loc[df['Position'] != 'Torwart']  # remove position Torwart

In [5]:
features = ['LeagueCountry', 'League', 'NationalLeagueLevel', 'Club', 'Age', 'Nationality', 'Position', 'PositionCategory', 'Supplier', 'ClubSince', 'InternationalTeam', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'InternationalGoals', 'Trending', 'MinutesQuote', 'FsGoalParticipationQuote', 'Games', 'PointsPerGame', 'Goals', 'Ins', 'Cards', 'Minutes', 'FsAssists', 'FsPenaltyGoals', 'FsMinutesPerGoal', 'Value']

df = df[features]

In [6]:
numeric_columns = df.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column: {col}, NaN values: {numeric_columns[col].isna().sum()}")

Column: Age, NaN values: 2
Column: ClubSince, NaN values: 25
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 6209
Column: InternationalGoals, NaN values: 6209
Column: Trending, NaN values: 0
Column: MinutesQuote, NaN values: 1750
Column: FsGoalParticipationQuote, NaN values: 1750
Column: Games, NaN values: 3999
Column: PointsPerGame, NaN values: 3999
Column: Goals, NaN values: 3999
Column: Ins, NaN values: 3999
Column: Cards, NaN values: 3999
Column: Minutes, NaN values: 3999
Column: FsAssists, NaN values: 3999
Column: FsPenaltyGoals, NaN values: 3999
Column: FsMinutesPerGoal, NaN values: 3999
Column: Value, NaN values: 0

In [7]:
df = df.dropna(subset=['Age', 'ClubSince', 'MinutesQuote', 'FsGoalParticipationQuote', 'Games', 'PointsPerGame', 'Goals', 'Ins', 'Cards', 'Minutes', 'FsAssists', 'FsPenaltyGoals'])

In [8]:
df = df.fillna({'InternationalGames': 0, 'InternationalGoals': 0, 'FsMinutesPerGoal': 0})

In [9]:
numeric_columns = df.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column: {col}, NaN values: {numeric_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: InternationalGoals, NaN values: 0
Column: Trending, NaN values: 0
Column: MinutesQuote, NaN values: 0
Column: FsGoalParticipationQuote, NaN values: 0
Column: Games, NaN values: 0
Column: PointsPerGame, NaN values: 0
Column: Goals, NaN values: 0
Column: Ins, NaN values: 0
Column: Cards, NaN values: 0
Column: Minutes, NaN values: 0
Column: FsAssists, NaN values: 0
Column: FsPenaltyGoals, NaN values: 0
Column: FsMinutesPerGoal, NaN values: 0
Column: Value, NaN values: 0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11761 entries, 5 to 18355
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             11761 non-null  object
 1   League                    11761 non-null  object
 2   NationalLeagueLevel       11761 non-null  object
 3   Club                      11761 non-null  object
 4   Age                       11761 non-null  float64
 5   Nationality               11761 non-null  object
 6   Position                  11761 non-null  object
 7   PositionCategory          11761 non-null  object
 8   Supplier                  2159 non-null   object
 9   ClubSince                 11761 non-null  float64
 10  InternationalTeam         7003 non-null   object
 11  ActiveInternational       11761 non-null  int64
 12  FormerInternational       11761 non-null  int64
 13  InternationalGames        11761 non-null  float64
 14  InternationalGoals        11761 non-null  float64
 15  Trending                  11761 non-null  int64
 16  MinutesQuote              11761 non-null  float64
 17  FsGoalParticipationQuote  11761 non-null  float64
 18  Games                     11761 non-null  float64
 19  PointsPerGame             11761 non-null  float64
 20  Goals                     11761 non-null  float64
 21  Ins                       11761 non-null  float64
 22  Cards                     11761 non-null  float64
 23  Minutes                   11761 non-null  float64
 24  FsAssists                 11761 non-null  float64
 25  FsPenaltyGoals            11761 non-null  float64
 26  FsMinutesPerGoal          11761 non-null  float64
 27  Value                     11761 non-null  float64
dtypes: float64(16), int64(3), object(9)
memory usage: 2.6+ MB

In [11]:
df = process_categorical(df, 'Supplier')
df = process_categorical(df, 'InternationalTeam', 5)
df = process_categorical(df, 'League')
df = process_categorical(df, 'Club')
df = process_categorical(df, 'Nationality')
df = process_categorical(df, 'LeagueCountry', 5)
df = process_categorical(df, 'NationalLeagueLevel', 5)
df = process_categorical(df, 'PositionCategory', 5)
df = process_categorical(df, 'Position', 5)

In [12]:
df.to_csv('../data/df_extensive_model_fs_unfiltered.csv')

df = df[df['Value'] <= 150000000]  # exclude outliers

df.to_csv('../data/df_extensive_model_fs.csv')