In [1]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [2]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17803 entries, 0 to 18334
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  object
 3   Club                      17803 non-null  object
 4   No                        17494 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   HighestValue              17803 non-null  float64
 8   Age                       17800 non-null  float64
 9   Height                    16713 non-null  float64
 10  Nationality               17803 non-null  object
 11  Foot                      16118 non-null  object
 12  Position                  17803 non-null  object
 13  Consultancy               14496 non-null  object
 14  Supplier                  2736 non-null   object
 15  ClubSince                 17768 non-null  float64
 16  ContractUntil             16730 non-null  float64
 17  Injury                    17803 non-null  int64
 18  InternationalTeam         11967 non-null  object
 19  ActiveInternational       17803 non-null  int64
 20  FormerInternational       17803 non-null  int64
 21  InternationalGames        11967 non-null  float64
 22  InternationalGoals        11967 non-null  float64
 23  StartingElevenQuote       15773 non-null  float64
 24  MinutesQuote              15773 non-null  float64
 25  TwPenaltySavesQuote       1737 non-null   float64
 26  FsGoalParticipationQuote  14036 non-null  float64
 27  Games                     13227 non-null  float64
 28  PointsPerGame             12484 non-null  float64
 29  Goals                     13227 non-null  float64
 30  OwnGoals                  13227 non-null  float64
 31  Ins                       13227 non-null  float64
 32  Outs                      13227 non-null  float64
 33  YellowCards               13227 non-null  float64
 34  YellowRedCards            13227 non-null  float64
 35  RedCards                  13227 non-null  float64
 36  Minutes                   12437 non-null  float64
 37  TwGoalsConceded           1459 non-null   float64
 38  TwCleanSheets             1459 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          6119 non-null   float64
 42  PositionCategory          17803 non-null  object
 43  Trending                  17803 non-null  int64
dtypes: float64(28), int64(4), object(12)
memory usage: 6.1+ MB

In [4]:
df = df.loc[df['Position'] != 'Torwart']  # remove position Torwart

In [6]:
features = ['LeagueCountry', 'League', 'NationalLeagueLevel', 'Club', 'Age', 'Nationality', 'Position', 'PositionCategory', 'Consultancy', 'Supplier', 'ClubSince', 'Injury', 'InternationalTeam', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'InternationalGoals', 'Trending', 'StartingElevenQuote', 'MinutesQuote', 'FsGoalParticipationQuote', 'Games', 'PointsPerGame', 'Goals', 'OwnGoals', 'Ins', 'Outs', 'YellowCards', 'YellowRedCards', 'YellowRedCards', 'RedCards', 'Minutes', 'FsAssists', 'FsPenaltyGoals', 'FsMinutesPerGoal', 'Value']

df = df[features]

In [9]:
numeric_columns = df.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column: {col}, NaN values: {numeric_columns[col].isna().sum()}")

Column: Age, NaN values: 2
Column: ClubSince, NaN values: 25
Column: Injury, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: InternationalGoals, NaN values: 0
Column: Trending, NaN values: 0
Column: StartingElevenQuote, NaN values: 1740
Column: MinutesQuote, NaN values: 1740
Column: FsGoalParticipationQuote, NaN values: 1740
Column: Games, NaN values: 4008
Column: PointsPerGame, NaN values: 4303
Column: Goals, NaN values: 4008
Column: OwnGoals, NaN values: 4008
Column: Ins, NaN values: 4008
Column: Outs, NaN values: 4008
Column: YellowCards, NaN values: 4008
Column: YellowRedCards, NaN values: YellowRedCards    4008
YellowRedCards    4008
dtype: int64
Column: YellowRedCards, NaN values: YellowRedCards    4008
YellowRedCards    4008
dtype: int64
Column: RedCards, NaN values: 4008
Column: Minutes, NaN values: 4348
Column: FsAssists, NaN values: 4008
Column: FsPenaltyGoals, NaN values: 4008
Column: FsMinutesPerGoal, NaN values: 9657
Column: Value, NaN values: 0

In [27]:
df = df.dropna(subset=['Age', 'ClubSince', 'StartingElevenQuote', 'MinutesQuote', 'FsGoalParticipationQuote', 'Games', 'PointsPerGame', 'Goals', 'OwnGoals', 'Ins', 'Outs', 'YellowCards', 'YellowRedCards', 'RedCards', 'Minutes', 'FsAssists', 'FsPenaltyGoals'])

In [28]:
df = df.fillna({'InternationalGames': 0, 'InternationalGoals': 0, 'FsMinutesPerGoal': 0})

In [29]:
numeric_columns = df.select_dtypes(include=[np.number])
for col in numeric_columns.columns:
    print(f"Column: {col}, NaN values: {numeric_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: Injury, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: InternationalGoals, NaN values: 0
Column: Trending, NaN values: 0
Column: StartingElevenQuote, NaN values: 0
Column: MinutesQuote, NaN values: 0
Column: FsGoalParticipationQuote, NaN values: 0
Column: Games, NaN values: 0
Column: PointsPerGame, NaN values: 0
Column: Goals, NaN values: 0
Column: OwnGoals, NaN values: 0
Column: Ins, NaN values: 0
Column: Outs, NaN values: 0
Column: YellowCards, NaN values: 0
Column: YellowRedCards, NaN values: YellowRedCards    0
YellowRedCards    0
dtype: int64
Column: YellowRedCards, NaN values: YellowRedCards    0
YellowRedCards    0
dtype: int64
Column: RedCards, NaN values: 0
Column: Minutes, NaN values: 0
Column: FsAssists, NaN values: 0
Column: FsPenaltyGoals, NaN values: 0
Column: FsMinutesPerGoal, NaN values: 0
Column: Value, NaN values: 0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11422 entries, 5 to 18332
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             11422 non-null  object
 1   League                    11422 non-null  object
 2   NationalLeagueLevel       11422 non-null  object
 3   Club                      11422 non-null  object
 4   Age                       11422 non-null  float64
 5   Nationality               11422 non-null  object
 6   Position                  11422 non-null  object
 7   PositionCategory          11422 non-null  object
 8   Consultancy               9729 non-null   object
 9   Supplier                  2123 non-null   object
 10  ClubSince                 11422 non-null  float64
 11  Injury                    11422 non-null  int64
 12  InternationalTeam         8299 non-null   object
 13  ActiveInternational       11422 non-null  int64
 14  FormerInternational       11422 non-null  int64
 15  InternationalGames        11422 non-null  float64
 16  InternationalGoals        11422 non-null  float64
 17  Trending                  11422 non-null  int64
 18  StartingElevenQuote       11422 non-null  float64
 19  MinutesQuote              11422 non-null  float64
 20  FsGoalParticipationQuote  11422 non-null  float64
 21  Games                     11422 non-null  float64
 22  PointsPerGame             11422 non-null  float64
 23  Goals                     11422 non-null  float64
 24  OwnGoals                  11422 non-null  float64
 25  Ins                       11422 non-null  float64
 26  Outs                      11422 non-null  float64
 27  YellowCards               11422 non-null  float64
 28  YellowRedCards            11422 non-null  float64
 29  YellowRedCards            11422 non-null  float64
 30  RedCards                  11422 non-null  float64
 31  Minutes                   11422 non-null  float64
 32  FsAssists                 11422 non-null  float64
 33  FsPenaltyGoals            11422 non-null  float64
 34  FsMinutesPerGoal          11422 non-null  float64
 35  Value                     11422 non-null  float64
dtypes: float64(22), int64(4), object(10)
memory usage: 3.2+ MB

In [31]:
df = process_categorical(df, 'Supplier')
df = process_categorical(df, 'Consultancy')
df = process_categorical(df, 'InternationalTeam', 5)
df = process_categorical(df, 'League')
df = process_categorical(df, 'Club')
df = process_categorical(df, 'Nationality')
df = process_categorical(df, 'LeagueCountry', 5)
df = process_categorical(df, 'NationalLeagueLevel', 5)
df = process_categorical(df, 'PositionCategory', 5)
df = process_categorical(df, 'Position', 5)

In [32]:
df.to_csv('../data/df_extensive_model_fs_unfiltered.csv')

df = df[df['Value'] <= 150000000]  # exclude outliers

df.to_csv('../data/df_extensive_model_fs.csv')