In [1]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [2]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17796 entries, 0 to 18357
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17796 non-null  object
 1   League                    17796 non-null  object
 2   NationalLeagueLevel       17796 non-null  object
 3   Club                      17796 non-null  object
 4   No                        17511 non-null  float64
 5   Name                      17796 non-null  object
 6   Value                     17796 non-null  float64
 7   HighestValue              17796 non-null  float64
 8   Age                       17794 non-null  float64
 9   Height                    16717 non-null  float64
 10  Nationality               17796 non-null  object
 11  Foot                      16124 non-null  object
 12  Position                  17796 non-null  object
 13  Consultancy               14524 non-null  object
 14  Supplier                  2739 non-null   object
 15  ClubSince                 17761 non-null  float64
 16  ContractUntil             16740 non-null  float64
 17  Injury                    17796 non-null  int64
 18  InternationalTeam         9708 non-null   object
 19  ActiveInternational       17796 non-null  int64
 20  FormerInternational       17796 non-null  int64
 21  InternationalGames        10724 non-null  float64
 22  InternationalGoals        10724 non-null  float64
 23  StartingElevenQuote       15759 non-null  float64
 24  MinutesQuote              15759 non-null  float64
 25  TwPenaltySavesQuote       1742 non-null   float64
 26  FsGoalParticipationQuote  14017 non-null  float64
 27  Games                     13229 non-null  float64
 28  PointsPerGame             13229 non-null  float64
 29  Goals                     13229 non-null  float64
 30  OwnGoals                  13229 non-null  float64
 31  Ins                       13229 non-null  float64
 32  Outs                      13229 non-null  float64
 33  YellowCards               13229 non-null  float64
 34  YellowRedCards            13229 non-null  float64
 35  RedCards                  13229 non-null  float64
 36  Minutes                   13229 non-null  float64
 37  TwGoalsConceded           1461 non-null   float64
 38  TwCleanSheets             1461 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          11768 non-null  float64
 42  Image                     14885 non-null  object
 43  PositionCategory          17796 non-null  object
 44  Cards                     13229 non-null  float64
 45  Trending                  17796 non-null  int64
dtypes: float64(29), int64(4), object(13)
memory usage: 6.4+ MB

In [4]:
df = df.loc[df['Position'] == 'Torwart']

In [5]:
features = ['LeagueCountry', 'NationalLeagueLevel', 'InternationalTeam', 'League', 'Club', 'Age', 'ClubSince', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'Trending', 'Value']

df = df[features]

In [6]:
df = df.dropna(subset=['Age', 'ClubSince'])

In [7]:
df = df.fillna({'InternationalGames': 0, 'InternationalGoals': 0})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2019 entries, 0 to 18336
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LeagueCountry        2019 non-null   object
 1   NationalLeagueLevel  2019 non-null   object
 2   InternationalTeam    1051 non-null   object
 3   League               2019 non-null   object
 4   Club                 2019 non-null   object
 5   Age                  2019 non-null   float64
 6   ClubSince            2019 non-null   float64
 7   ActiveInternational  2019 non-null   int64
 8   FormerInternational  2019 non-null   int64
 9   InternationalGames   2019 non-null   float64
 10  Trending             2019 non-null   int64
 11  Value                2019 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 205.1+ KB

In [9]:
# Select numerical columns
numerical_columns = df.select_dtypes(include=[np.number])

# Print column names and count of NaN values for each numerical column
for col in numerical_columns.columns:
    print(f"Column: {col}, NaN values: {numerical_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: Trending, NaN values: 0
Column: Value, NaN values: 0

In [10]:
df.to_csv('../data/df_simple_model_tw_streamlit.csv')

In [10]:
df = process_categorical(df, 'InternationalTeam', 5)

In [11]:
df = process_categorical(df, 'League')

In [12]:
df = process_categorical(df, 'Club')

In [13]:
df = process_categorical(df, 'LeagueCountry', 5)

In [14]:
df = process_categorical(df, 'NationalLeagueLevel', 5)

In [15]:
df.to_csv('../data/df_simple_model_tw.csv')