In [18]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [19]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17803 entries, 0 to 18334
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  object
 3   Club                      17803 non-null  object
 4   No                        17494 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   HighestValue              17803 non-null  float64
 8   Age                       17800 non-null  float64
 9   Height                    16713 non-null  float64
 10  Nationality               17803 non-null  object
 11  Foot                      16118 non-null  object
 12  Position                  17803 non-null  object
 13  Consultancy               14496 non-null  object
 14  Supplier                  2736 non-null   object
 15  ClubSince                 17768 non-null  float64
 16  ContractUntil             16730 non-null  float64
 17  Injury                    17803 non-null  int64
 18  InternationalTeam         11967 non-null  object
 19  ActiveInternational       17803 non-null  int64
 20  FormerInternational       17803 non-null  int64
 21  InternationalGames        11967 non-null  float64
 22  InternationalGoals        11967 non-null  float64
 23  StartingElevenQuote       15773 non-null  float64
 24  MinutesQuote              15773 non-null  float64
 25  TwPenaltySavesQuote       1737 non-null   float64
 26  FsGoalParticipationQuote  14036 non-null  float64
 27  Games                     13227 non-null  float64
 28  PointsPerGame             12484 non-null  float64
 29  Goals                     13227 non-null  float64
 30  OwnGoals                  13227 non-null  float64
 31  Ins                       13227 non-null  float64
 32  Outs                      13227 non-null  float64
 33  YellowCards               13227 non-null  float64
 34  YellowRedCards            13227 non-null  float64
 35  RedCards                  13227 non-null  float64
 36  Minutes                   12437 non-null  float64
 37  TwGoalsConceded           1459 non-null   float64
 38  TwCleanSheets             1459 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          6119 non-null   float64
 42  PositionCategory          17803 non-null  object
 43  Trending                  17803 non-null  int64
dtypes: float64(28), int64(4), object(12)
memory usage: 6.1+ MB

In [21]:
df = df.loc[df['Position'] == 'Torwart']

In [22]:
features = ['LeagueCountry', 'League', 'NationalLeagueLevel', 'Club', 'Age', 'Nationality', 'Supplier', 'ClubSince', 'InternationalTeam', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'InternationalGoals', 'Trending', 'Value']

df = df[features]

In [23]:
df = df.dropna(subset=['Age', 'ClubSince'])

In [24]:
df = df.fillna({'InternationalGames': 0, 'InternationalGoals': 0})

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 18313
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LeagueCountry        2016 non-null   object
 1   League               2016 non-null   object
 2   NationalLeagueLevel  2016 non-null   object
 3   Club                 2016 non-null   object
 4   Age                  2016 non-null   float64
 5   Nationality          2016 non-null   object
 6   Supplier             245 non-null    object
 7   ClubSince            2016 non-null   float64
 8   InternationalTeam    1300 non-null   object
 9   ActiveInternational  2016 non-null   int64
 10  FormerInternational  2016 non-null   int64
 11  InternationalGames   2016 non-null   float64
 12  InternationalGoals   2016 non-null   float64
 13  Trending             2016 non-null   int64
 14  Value                2016 non-null   float64
dtypes: float64(5), int64(3), object(7)
memory usage: 252.0+ KB

In [26]:
# Select numerical columns
numerical_columns = df.select_dtypes(include=[np.number])

# Print column names and count of NaN values for each numerical column
for col in numerical_columns.columns:
    print(f"Column: {col}, NaN values: {numerical_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: InternationalGoals, NaN values: 0
Column: Trending, NaN values: 0
Column: Value, NaN values: 0

In [27]:
df = process_categorical(df, 'Supplier')

In [28]:
df = process_categorical(df, 'InternationalTeam', 5)

In [29]:
df = process_categorical(df, 'League')

In [30]:
df = process_categorical(df, 'Club')

In [31]:
df = process_categorical(df, 'LeagueCountry', 5)

In [32]:
df = process_categorical(df, 'NationalLeagueLevel', 5)

In [33]:
df = process_categorical(df, 'Nationality')

In [34]:
df.to_csv('../data/df_simple_model_tw.csv')