In [1]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [2]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17796 entries, 0 to 18357
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17796 non-null  object
 1   League                    17796 non-null  object
 2   NationalLeagueLevel       17796 non-null  object
 3   Club                      17796 non-null  object
 4   No                        17511 non-null  float64
 5   Name                      17796 non-null  object
 6   Value                     17796 non-null  float64
 7   HighestValue              17796 non-null  float64
 8   Age                       17794 non-null  float64
 9   Height                    16717 non-null  float64
 10  Nationality               17796 non-null  object
 11  Foot                      16124 non-null  object
 12  Position                  17796 non-null  object
 13  Consultancy               14524 non-null  object
 14  Supplier                  2739 non-null   object
 15  ClubSince                 17761 non-null  float64
 16  ContractUntil             16740 non-null  float64
 17  Injury                    17796 non-null  int64
 18  InternationalTeam         9708 non-null   object
 19  ActiveInternational       17796 non-null  int64
 20  FormerInternational       17796 non-null  int64
 21  InternationalGames        10724 non-null  float64
 22  InternationalGoals        10724 non-null  float64
 23  StartingElevenQuote       15759 non-null  float64
 24  MinutesQuote              15759 non-null  float64
 25  TwPenaltySavesQuote       1742 non-null   float64
 26  FsGoalParticipationQuote  14017 non-null  float64
 27  Games                     13229 non-null  float64
 28  PointsPerGame             13229 non-null  float64
 29  Goals                     13229 non-null  float64
 30  OwnGoals                  13229 non-null  float64
 31  Ins                       13229 non-null  float64
 32  Outs                      13229 non-null  float64
 33  YellowCards               13229 non-null  float64
 34  YellowRedCards            13229 non-null  float64
 35  RedCards                  13229 non-null  float64
 36  Minutes                   13229 non-null  float64
 37  TwGoalsConceded           1461 non-null   float64
 38  TwCleanSheets             1461 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          11768 non-null  float64
 42  Image                     14885 non-null  object
 43  PositionCategory          17796 non-null  object
 44  Cards                     13229 non-null  float64
 45  Trending                  17796 non-null  int64
dtypes: float64(29), int64(4), object(13)
memory usage: 6.4+ MB

In [4]:
df = df.loc[df['Position'] != 'Torwart']  # remove position Torwart

In [5]:
# select the features which provide value. the feature selection is done by analyzing the 2-dimensional jointplots of the features processing notebook and by comparing the model performance by comparing the r2 on 25%-test-data split (see performance-xxx.csv)
features = ['LeagueCountry', 'League', 'NationalLeagueLevel', 'Club', 'Age', 'ClubSince', 'Nationality', 'Position', 'PositionCategory', 'Supplier', 'InternationalTeam', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'InternationalGoals', 'Trending', 'Value']

df = df[features]

In [6]:
# drop the data records which have missing data, which are not many (<100) in this case
df = df.dropna(subset=['Age', 'ClubSince'])

In [7]:
# fill nan values with zero if it can be assumed, that missing data equals zero data
df = df.fillna({'InternationalGames': 0, 'InternationalGoals': 0})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15740 entries, 5 to 18357
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LeagueCountry        15740 non-null  object
 1   League               15740 non-null  object
 2   NationalLeagueLevel  15740 non-null  object
 3   Club                 15740 non-null  object
 4   Age                  15740 non-null  float64
 5   ClubSince            15740 non-null  float64
 6   Nationality          15740 non-null  object
 7   Position             15740 non-null  object
 8   PositionCategory     15740 non-null  object
 9   Supplier             2493 non-null   object
 10  InternationalTeam    8649 non-null   object
 11  ActiveInternational  15740 non-null  int64
 12  FormerInternational  15740 non-null  int64
 13  InternationalGames   15740 non-null  float64
 14  InternationalGoals   15740 non-null  float64
 15  Trending             15740 non-null  int64
 16  Value                15740 non-null  float64
dtypes: float64(5), int64(3), object(9)
memory usage: 2.2+ MB

In [9]:
# Select numerical columns
numerical_columns = df.select_dtypes(include=[np.number])

# Print column names and count of NaN values for each numerical column
for col in numerical_columns.columns:
    print(f"Column: {col}, NaN values: {numerical_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: InternationalGoals, NaN values: 0
Column: Trending, NaN values: 0
Column: Value, NaN values: 0

In [10]:
df.to_csv('../data/df_simple_model_fs_streamlit.csv')


create dummy variables for nominal variables. make sure, only a dummy variable is created, if the value occurs 5 or 10 times. The other, less important, values are assigned to a 'other'-class

In [48]:
df = process_categorical(df, 'Supplier')

In [49]:
df = process_categorical(df, 'InternationalTeam', 5)

In [50]:
df = process_categorical(df, 'League')

In [51]:
df = process_categorical(df, 'Club')

In [52]:
df = process_categorical(df, 'LeagueCountry', 5)

In [53]:
df = process_categorical(df, 'NationalLeagueLevel', 5)

In [54]:
df = process_categorical(df, 'Nationality')

In [55]:
df = process_categorical(df, 'Position', 5)

In [56]:
df = process_categorical(df, 'PositionCategory', 5)

In [57]:
df.to_csv('../data/df_simple_model_fs_unfiltered.csv')

df = df[df['Value'] <= 150000000]  # exclude outliers (haaland & mbappe)

df.to_csv('../data/df_simple_model_fs.csv')