In [1]:
import pandas as pd
import numpy as np
from analysis.utils import process_categorical

In [2]:
df = pd.read_csv('../data/df_clean.csv', index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17803 entries, 0 to 18334
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  object
 3   Club                      17803 non-null  object
 4   No                        17494 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   HighestValue              17803 non-null  float64
 8   Age                       17800 non-null  float64
 9   Height                    16713 non-null  float64
 10  Nationality               17803 non-null  object
 11  Foot                      16118 non-null  object
 12  Position                  17803 non-null  object
 13  Consultancy               14496 non-null  object
 14  Supplier                  2736 non-null   object
 15  ClubSince                 17768 non-null  float64
 16  ContractUntil             16730 non-null  float64
 17  Injury                    17803 non-null  int64
 18  InternationalTeam         11967 non-null  object
 19  ActiveInternational       17803 non-null  int64
 20  FormerInternational       17803 non-null  int64
 21  InternationalGames        11967 non-null  float64
 22  InternationalGoals        11967 non-null  float64
 23  StartingElevenQuote       15773 non-null  float64
 24  MinutesQuote              15773 non-null  float64
 25  TwPenaltySavesQuote       1737 non-null   float64
 26  FsGoalParticipationQuote  14036 non-null  float64
 27  Games                     13227 non-null  float64
 28  PointsPerGame             12484 non-null  float64
 29  Goals                     13227 non-null  float64
 30  OwnGoals                  13227 non-null  float64
 31  Ins                       13227 non-null  float64
 32  Outs                      13227 non-null  float64
 33  YellowCards               13227 non-null  float64
 34  YellowRedCards            13227 non-null  float64
 35  RedCards                  13227 non-null  float64
 36  Minutes                   12437 non-null  float64
 37  TwGoalsConceded           1459 non-null   float64
 38  TwCleanSheets             1459 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          6119 non-null   float64
 42  PositionCategory          17803 non-null  object
 43  Trending                  17803 non-null  int64
dtypes: float64(28), int64(4), object(12)
memory usage: 6.1+ MB

In [4]:
df = df.loc[df['Position'] != 'Torwart']  # remove position Torwart

In [5]:
features = ['LeagueCountry', 'League', 'NationalLeagueLevel', 'Club', 'Age', 'Nationality', 'Position', 'PositionCategory', 'Consultancy', 'Supplier', 'ClubSince', 'Injury', 'InternationalTeam', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'InternationalGoals', 'Trending', 'Value'] #Possibly include Games

df = df[features]

In [6]:
df = df.dropna(subset=['Age', 'ClubSince'])

In [7]:
df = df.fillna({'InternationalGames': 0, 'InternationalGoals': 0})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15749 entries, 5 to 18334
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LeagueCountry        15749 non-null  object
 1   League               15749 non-null  object
 2   NationalLeagueLevel  15749 non-null  object
 3   Club                 15749 non-null  object
 4   Age                  15749 non-null  float64
 5   Nationality          15749 non-null  object
 6   Position             15749 non-null  object
 7   PositionCategory     15749 non-null  object
 8   Consultancy          12935 non-null  object
 9   Supplier             2490 non-null   object
 10  ClubSince            15749 non-null  float64
 11  Injury               15749 non-null  int64
 12  InternationalTeam    10658 non-null  object
 13  ActiveInternational  15749 non-null  int64
 14  FormerInternational  15749 non-null  int64
 15  InternationalGames   15749 non-null  float64
 16  InternationalGoals   15749 non-null  float64
 17  Trending             15749 non-null  int64
 18  Value                15749 non-null  float64
dtypes: float64(5), int64(4), object(10)
memory usage: 2.4+ MB

In [9]:
# Select numerical columns
numerical_columns = df.select_dtypes(include=[np.number])

# Print column names and count of NaN values for each numerical column
for col in numerical_columns.columns:
    print(f"Column: {col}, NaN values: {numerical_columns[col].isna().sum()}")

Column: Age, NaN values: 0
Column: ClubSince, NaN values: 0
Column: Injury, NaN values: 0
Column: ActiveInternational, NaN values: 0
Column: FormerInternational, NaN values: 0
Column: InternationalGames, NaN values: 0
Column: InternationalGoals, NaN values: 0
Column: Trending, NaN values: 0
Column: Value, NaN values: 0

In [10]:
df = process_categorical(df, 'Supplier')

In [11]:
df = process_categorical(df, 'Consultancy')

In [12]:
df = process_categorical(df, 'InternationalTeam', 5)

In [13]:
df = process_categorical(df, 'League')

In [14]:
df = process_categorical(df, 'Club')

In [15]:
df = process_categorical(df, 'LeagueCountry', 5)

In [16]:
df = process_categorical(df, 'NationalLeagueLevel', 5)

In [17]:
df = process_categorical(df, 'Nationality')

In [18]:
df = process_categorical(df, 'Position', 5)

In [19]:
df = process_categorical(df, 'PositionCategory', 5)

In [20]:
df.to_csv('../data/df_simple_model_fs_unfiltered.csv')

df = df[df['Value'] <= 150000000]  # exclude outliers

df.to_csv('../data/df_simple_model_fs.csv')