In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('../data/df_clean.csv')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17803 entries, 0 to 17802
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LeagueCountry             17803 non-null  object
 1   League                    17803 non-null  object
 2   NationalLeagueLevel       17803 non-null  object
 3   Club                      17803 non-null  object
 4   No                        17494 non-null  float64
 5   Name                      17803 non-null  object
 6   Value                     17803 non-null  float64
 7   HighestValue              17803 non-null  float64
 8   Age                       17800 non-null  float64
 9   Height                    16713 non-null  float64
 10  Nationality               17803 non-null  object
 11  Foot                      16118 non-null  object
 12  Position                  17803 non-null  object
 13  Consultancy               14496 non-null  object
 14  Supplier                  2736 non-null   object
 15  ClubSince                 17768 non-null  float64
 16  ContractUntil             16730 non-null  float64
 17  Injury                    17803 non-null  int64
 18  InternationalTeam         11967 non-null  object
 19  ActiveInternational       17803 non-null  int64
 20  FormerInternational       17803 non-null  int64
 21  InternationalGames        11967 non-null  float64
 22  InternationalGoals        11967 non-null  float64
 23  StartingElevenQuote       15773 non-null  float64
 24  MinutesQuote              15773 non-null  float64
 25  TwPenaltySavesQuote       1737 non-null   float64
 26  FsGoalParticipationQuote  14036 non-null  float64
 27  Games                     13227 non-null  float64
 28  PointsPerGame             12484 non-null  float64
 29  Goals                     13227 non-null  float64
 30  OwnGoals                  13227 non-null  float64
 31  Ins                       13227 non-null  float64
 32  Outs                      13227 non-null  float64
 33  YellowCards               13227 non-null  float64
 34  YellowRedCards            13227 non-null  float64
 35  RedCards                  13227 non-null  float64
 36  Minutes                   12437 non-null  float64
 37  TwGoalsConceded           1459 non-null   float64
 38  TwCleanSheets             1459 non-null   float64
 39  FsAssists                 11768 non-null  float64
 40  FsPenaltyGoals            11768 non-null  float64
 41  FsMinutesPerGoal          6119 non-null   float64
 42  PositionCategory          17803 non-null  object
 43  Trending                  17803 non-null  int64
dtypes: float64(28), int64(4), object(12)
memory usage: 6.0+ MB

In [21]:
df = df.loc[df['Position'] != 'Torwart']  # remove position Torwart

In [22]:
features = ['LeagueCountry', 'League', 'NationalLeagueLevel', 'Club', 'Age', 'Height', 'Nationality', 'Foot', 'Position', 'PositionCategory', 'Consultancy', 'Supplier', 'ClubSince', 'ContractUntil', 'Injury', 'InternationalTeam', 'ActiveInternational', 'FormerInternational', 'InternationalGames', 'InternationalGoals', 'Trending']
target = 'Value'

X = df[features]
y = df[target]

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15776 entries, 5 to 17802
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   LeagueCountry        15776 non-null  object
 1   League               15776 non-null  object
 2   NationalLeagueLevel  15776 non-null  object
 3   Club                 15776 non-null  object
 4   Age                  15774 non-null  float64
 5   Height               14819 non-null  float64
 6   Nationality          15776 non-null  object
 7   Foot                 14406 non-null  object
 8   Position             15776 non-null  object
 9   PositionCategory     15776 non-null  object
 10  Consultancy          12947 non-null  object
 11  Supplier             2491 non-null   object
 12  ClubSince            15751 non-null  float64
 13  ContractUntil        14870 non-null  float64
 14  Injury               15776 non-null  int64
 15  InternationalTeam    10665 non-null  object
 16  ActiveInternational  15776 non-null  int64
 17  FormerInternational  15776 non-null  int64
 18  InternationalGames   10665 non-null  float64
 19  InternationalGoals   10665 non-null  float64
 20  Trending             15776 non-null  int64
dtypes: float64(6), int64(4), object(11)
memory usage: 2.6+ MB

In [24]:
y

5        5000000.0
6        4000000.0
7        1500000.0
8         500000.0
9         400000.0
           ...
17798     450000.0
17799     100000.0
17800     100000.0
17801     300000.0
17802      50000.0
Name: Value, Length: 15776, dtype: float64

In [25]:
pd.get_dummies(X['Foot'], prefix='foot')

       foot_beidfüßig  foot_links  foot_rechts
5                   0           0            1
6                   0           1            0
7                   0           0            1
8                   0           0            0
9                   0           0            1
...               ...         ...          ...
17798               0           0            1
17799               0           1            0
17800               0           0            1
17801               0           1            0
17802               0           0            1

[15776 rows x 3 columns]

In [26]:
X.groupby('Supplier').size()

Supplier
Asics              4
DIADORA            6
Erima              1
Hummel             1
Joma               5
Lotto             12
Masita             1
Mizuno            11
New Balance       19
Nike            1170
Puma             362
Saller             2
Umbro              6
Under Armour      13
adidas           878
dtype: int64

In [27]:
X.groupby('Consultancy').size()

Consultancy
#LEADERS                          5
+Soccer International             1
100and10 Sportmanagement GmbH    10
10Management                      6
10Ten Football                    5
                                 ..
the path sports management        1
think forward                    14
topgoal sports management         3
turfu zone                        4
Öner Karalar                      4
Length: 2227, dtype: int64

In [28]:
# Count the occurrences of each unique value in the column
value_counts = df['Supplier'].value_counts()

# Identify the values that occur more than 10 times
frequent_values = value_counts[value_counts > 10].index

# Create a new column to store the processed values
df['processed_column'] = df['Supplier'].apply(lambda x: x if x in frequent_values else 'other')

# Create dummy variables for the processed column
pd.get_dummies(df['processed_column'], prefix='supplier')

,supplier_Lotto,supplier_Mizuno,supplier_New Balance,supplier_Nike,supplier_Puma,supplier_Under Armour,supplier_adidas,supplier_other
5,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,1,0
7,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
17798,0,0,0,0,0,0,0,1
17799,0,0,0,0,0,0,0,1
17800,0,0,0,0,0,0,0,1
17801,0,0,0,0,0,0,0,1
17802,0,0,0,0,0,0,0,1

In [17]:
# Group by 'Consultancy' and count the instances
value_counts = df['Supplier'].value_counts()

# Identify the consultancies that appear more than 10 times
frequent_consultancies = value_counts[value_counts > 10].index

# Create a new column to store the processed values
df['processed_consultancy'] = df['Consultancy'].apply(lambda x: x if x in frequent_consultancies else 'other')

# Create dummy variables for the processed column
pd.get_dummies(X['processed_consultancy'], prefix='consultancy')

,consultancy_11WINS,consultancy_14 Sports Management,consultancy_2SAgency,consultancy_A-GROUP,consultancy_A.M.A. Sports Agency,consultancy_AC Talent,consultancy_AKA Global GmbH,consultancy_ALIK FOOTBALL MANAGEMENT,consultancy_AMS CONSULTING,consultancy_ATS,...,consultancy_YOU FIRST,consultancy_Zafi Agent,consultancy_fair-sport GmbH,consultancy_feel soccer GmbH,consultancy_goOn as,consultancy_ohne Berater,consultancy_other,consultancy_prosm,consultancy_score agencies,consultancy_think forward
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
17801,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
17802,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [32]:
team_counts = X.groupby('InternationalTeam').size()
frequent_teams = team_counts[team_counts > 5].index
frequent_teams

Index(['Albanien', 'Albanien U21', 'Algerien', 'Angola', 'Argentinien',
       'Argentinien U20', 'Argentinien U23', 'Armenien', 'Australien',
       'Belarus',
       ...
       'Venezuela', 'Wales', 'Wales U21', 'Zypern', 'Österreich',
       'Österreich U17', 'Österreich U18', 'Österreich U19', 'Österreich U20',
       'Österreich U21'],
      dtype='object', name='InternationalTeam', length=216)